<!DOCTYPE html>
<html>
<head>
    <title>translator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="translate" placeholder="Enter text to translate" required>
        <br>
        <select required name="language">
            <option value="" disabled selected>Select Language</option>
            <option value="Hindi">Hindi</option>
            <option value="Marathi">Marathi</option>
            <option value="Telugu">Telugu</option>
            <option value="Tamil">Tamil</option>
            <option value="Bengali">Bengali</option>
            <option value="Malayalam">Malayalam</option>
        </select>
        <br>
        <button type="submit">Translate</button>
    </form>
</body>
</html>
